/* CSS MEDIA QUERY */
/* **************************************************************** */

/* ****************** */
/* *** Smartphone *** */
@media only screen and (min-device-width: 320px) and (orientation: portrait){
    
    
    header{
        height: 92px;
        
    }
    .imgLogo{
        height: 50px;
        width: 50px;
    }
    .imgMenu{
        height: 46px;
        width: 46px;

    }
    #menu{
        height: 100%;
    }
    .barraFija{
        display: flex;
        justify-content: space-between;
        padding: 0.6rem 0.6rem 0px 0.6rem;
        background-color:#58FFCD;
        height: 100%;
        align-items: center;
    }
    
    /* oculto el menu desplegable */
    .menuDesplegable{
        
        display:none;
    }
    
    /* le doy altura cunado cliquen a la img menu */
    #menu:target .menuDesplegable{
        height: 100%;
    
    }
    
    /* al volver a clicar (desaparecen) */
    .cerrar {
        display: none;
    }
    
    
    #menu:target .abrir{
        display: none;
    }
    
    /* al clicar aparece el menu que estaba oculto */
    #menu:target .cerrar{
        display: block;
    }
    
    #menu:target .menuDesplegable{
        margin: 0 ;
        padding:0;
        transition:height 0.8s;
        height: 80vh;
        background-color:#58FFCD ;
        display: grid;  
        
        position: relative;
    }
    
    /* centro a los hijos del grid  */
    #menu:target li{    
        justify-self: center;
        align-self: center;
    }
    
      /* FORMULARIO */
      form{
        padding-top: 25px;
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: 2%;
      }
        .seccionCrearUsuario{
            height: 100%;
        }   

     .formularioCrearUsuario{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        justify-content: flex-start;
        
        
     }
     .formularioCrearUsuario h2{
         text-align:center;
     }
     form .datos_formulario{
        width: 80%;
     }
     .datos_formulario input{
        width: 100%;
        margin-bottom: 18px;
        padding: 15px;
        border: 2px solid rgb(135, 255, 119);
        border-radius: 8px; 
        outline: none;
        
     }
    
    .datos_formulario label{
        margin-top: 10px;
        
    }
    .labelCheckox{
    width: 80%;
    }
     .datos_formulario select{
        width: 100%;
        padding: 15px;
        border: 2px solid rgb(135, 255, 119);
        border-radius: 8px;
        background-color: #fff;
    }
    
    
    button{
        
        background: #58FFCD;
        border: 4.21429px solid rgb(135, 255, 119);
        border-radius: 9.83333px;
        padding: 15px 30px;
    }
    
    button:hover{
        background:  rgb(135, 255, 119);
        border-color:#58FFCD;
       
    }
    
     input[type="checkBox"]{
        margin: 10px 5px 5px 0px;
        width: 30px;
        height: 30px;
        
     }
     input[type="checkBox"] text{
        color: whitesmoke;
     }
     
    
     /* banner */
     .banner{
        width: 100%;
        height: 150px;
        background-color: chartreuse;
        margin-top: 1px;
     }

    
}

/* Horizontal */
@media only screen and (min-device-width: 1024px) and (orientation:landscape){

     
}


/* *************** */
/* *** Tablet *** */
/* Vertical */

@media only screen and (min-device-width: 800px) and (orientation: portrait){
    
     
    header{
        height: 92px;
        
    }
    .imgLogo{
        height: 50px;
        width: 50px;
    }
    .imgMenu{
        height: 46px;
        width: 46px;

    }
    #menu{
        height: 100%;
    }
    .barraFija{
        display: flex;
        justify-content: space-between;
        padding: 0.6rem 0.6rem 0px 0.6rem;
        background-color: aquamarine;
        height: 100%;
        align-items: center;
    }
    
    /* oculto el menu desplegable */
    .menuDesplegable{
        
        display:none;
    }
    
    /* le doy altura cunado cliquen a la img menu */
    #menu:target .menuDesplegable{
        height: 100%;
    
    }
    
    /* al volver a clicar (desaparecen) */
    .cerrar {
        display: none;
    }
    
    
    #menu:target .abrir{
        display: none;
    }
    
    /* al clicar aparece el menu que estaba oculto */
    #menu:target .cerrar{
        display: block;
    }
    
    #menu:target .menuDesplegable{
        margin: 0 ;
        padding:0;
        transition:height 0.8s;
        height: 80vh;
        background-color:rgba(127, 255, 212) ;
        display: grid;  
        /* le doy posicion relativa para poder dar valor al inidce Z i me mande el menu desplegble delante de todos los objetos que haya */
        
    }
    
    /* centro a los hijos del grid  */
    #menu:target li{    
        justify-self: center;
        align-self: center;
    }
    
      /* FORMULARIO */
      form{
        padding-top:25px;  
        width: 75%;  
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
      }
        .seccionCrearUsuario{
            height: 50%;
        }   
     .formularioCrearUsuario{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        
        
     }
     .formularioCrearUsuario h2{
         text-align:center;
     }
     .datos_formulario input{
        width: 100%;
        margin-bottom: 18px;
        padding: 15px;
        border: 2px solid rgb(135, 255, 119);
        border-radius: 8px; 
        
     }
    
    .datos_formulario label{
        margin-top: 10px;
        
    }
    .labelCheckox{
    width: 100%;
    }
     .datos_formulario select{
        width: 100%;
        padding: 5px 5px;
        border: 2px solid rgb(135, 255, 119);
        border-radius: 8px;
    }
    
    
    button{
        background: #58FFCD;
        border: 4.21429px solid #05F77A;
        border-radius: 9.83333px;
        padding: 15px;
    }
    
    button:hover{
        background-color:green;
       
    }
    
     input[type="checkBox"]{
        margin: 10px 5px 5px 0px;
        width: 30px;
        height: 30px;
        
     }
     input[type="checkBox"] text{
        color: whitesmoke;
     }
     
    
     /* banner */
     .banner{
        width: 100%;
        height: 150px;
        background-color: chartreuse;
        margin-top: 1px;
     }

}

/* **************** */
/* *** Desktop *** */
@media only screen and (min-width: 1140px){
    /* cambio de nav */
   
   .container{
       height: 100vh;
   }
   
    header{
        
        height: 10%;
    }
    #menu{
        height: 100%;
        align-items: center;
    }
   
   .abrir , .cerrar{
       display: none;
   }
   .imgLogo{
       height: 85px;
       width: 100px;
       align-self:center;
   }
   #menu{
       display:flex;
       flex-direction: row;
       justify-content: space-evenly;
   }

   .menuDesplegable{
    width: 100%;
    
    display: grid;
    
    padding: 0;
    margin: 0;
    
    grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr;
    

   }
  
   .btnCreUsu{
    padding: 15px;
    margin: 10px 0px 10px 0px;
    background-color: lightgreen;
    color: whitesmoke;
    border-style: none;
    border-radius: 11px;
}
.btnCreUsu:hover{
    background-color:green;
   
}
   li{
       align-self: center;
       justify-self: center;
       
   }
   /* banner */
   .banner{
    width: 100%;
    height: 440px;
    background-color: chartreuse;
    margin-top: 1px;
 }
    
  /* FORMULARIO */
  form{
    padding-top:25px;  
    width: 75%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
    .seccionCrearUsuario{
        height: 50%;
    }   
 .formularioCrearUsuario{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    
    
 }
 .formularioCrearUsuario h2{
     text-align:center;
 }
 .datos_formulario input{
     width: 100%;
     margin-bottom: 18px;
    padding: 5px;
    border: 2px solid rgb(135, 255, 119);
    border-radius: 8px;
    
 }

.datos_formulario label{
    margin-top: 10px;
    
}
.labelCheckox{
width: 100%;
}
 .datos_formulario select{
    width: 100%;
    padding: 5px 5px;
    border: 2px solid rgb(135, 255, 119);
    border-radius: 8px;
}


button{
    padding: 15px;
    margin: 10px 0px 10px 0px;
    background-color: lightgreen;
    color: whitesmoke;
    border-style: none;
    border-radius: 11px;
}
button:hover{
    background-color:green;
   
}

 input[type="checkBox"]{
    margin: 10px 5px 5px 0px;
    width: 30px;
    height: 30px;
    
 }
 input[type="checkBox"] text{
    color: whitesmoke;
 }
}