/* CSS MODULAR */

@import "./css/normalize.css";
@import "./css/reset.css";

@import "./css/color.css";
@import "./css/tipografia.css";
@import "./css/grid.css";
@import "./css/layout.css";
@import "./css/mediaquery.css";


html{
    height: 100%;
}
body{
    margin: 0;
    height: 100%;
}
/* HEADER */

header{
    height: 63px;
}
.imgLogo{
    height: 50px;
    width: 50px;
}
.imgMenu{
    height: auto;
}
.barraFija{
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 0.6rem 0px 0.6rem;
    background-color: aquamarine;
    height: 100%;
}

/* oculto el menu desplegable */
.menuDesplegable{
    height: 0;
    overflow: hidden;
}

/* le doy altura cunado cliquen a la img menu */
#menu:target .menuDesplegable{
height: 100%;
}

/* al volver a clicar (desaparecen) */
.cerrar {
    display: none;
}


#menu:target .abrir{
    display: none;
}

/* al clicar aparece el menu que estaba oculto */
#menu:target .cerrar{
    display: block;
}

#menu:target .menuDesplegable{
    margin: 0 ;
    padding:0;
    transition:height 0.8s;
    height: 80vh;
    background-color: #05f77a4f ;
    display: grid;  
    /* le doy posicion relativa para poder dar valor al inidce Z i me mande el menu desplegble delante de todos los objetos que haya */
    position: relative;
    z-index: 1;
    
}

/* centro a los hijos del grid  */
#menu:target li{    
    justify-self: center;
    align-self: center;
}

  /* FORMULARIO */
  form{
    padding-top:25px;    
  }

 .formularioCrearUsuario{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    
 }
 .datos_formulario input{
     width: 100%;
     margin-bottom: 18px;

 }

.datos_formulario label{
    margin-top: 10px;
    
}
 .datos_formulario select{
    width: 100%;
    padding: 5px 5px;
}


button{
    padding: 5px;
    margin-top: 10px;
    background-color: lightgreen;
    color: whitesmoke;
    border-style: none;
    border-radius: 8px;
}
button:hover{
    background-color:green;
   
}
 input[type="checkBox"]{
    padding: 5px;
    margin: 10px 0px 10px 0px;
 }